@font-face {
  font-family: 'Wisdom Script Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Wisdom Script Regular"), url("../fonts/WisdomScriptAJ.woff") format("woff");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: 'Montserrat Bold';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: 'DroidSerif-Italic';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/DroidSerif-Italic.ttf");
}

@font-face {
  font-family: 'RobotoSlab';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoSlab-Regular.ttf");
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-moz-selection {
  background: #fed136;
}

::selection {
  background: #fed136;
}

:focus {
  outline: none;
}

html {
  font-weight: 400;
  line-height: 22px;
  font-size: 14px;
}

body {
  font-family: "Montserrat Bold", sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper {
  overflow: hidden;
  position: relative;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  font-family: #777777;
  color: #777777;
}

h2 {
  font-family: "DroidSerif-Italic", sans-serif;
}

.section-title {
  text-align: center;
  font-family: "Montserrat Bold", sans-serif;
  font-size: 2.85rem;
  text-transform: uppercase;
}

.section-subtitle {
  margin-top: 25px;
  font-size: 1.1488rem;
  text-align: center;
  font-family: "DroidSerif-Italic", sans-serif;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }
}

.header {
  width: 100%;
  padding: 65px 0;
  background: #fff;
  z-index: 10;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  font-family: "Wisdom Script Regular";
  color: #fed136;
}

.header a {
  text-transform: uppercase;
  color: #222222;
  font-family: "Montserrat Bold", sans-serif;
}

.header a:hover {
  color: #fed136;
  -webkit-transition: .3s;
  transition: .3s;
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-item {
  margin-left: 55px;
}

#toggle {
  display: none;
}

#toggle:checked ~ .menu {
  top: 0;
}

#toggle:checked ~ label .toggle-btn {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#toggle:checked ~ label .toggle-btn::before {
  top: 0;
}

#toggle:checked ~ label .toggle-btn::after {
  top: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

label {
  display: none;
  position: relative;
  width: 30px;
  height: 50px;
}

.toggle-btn {
  position: absolute;
  display: block;
  width: 30px;
  height: .16em;
  background: #000;
  top: 50%;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.toggle-btn::before,
.toggle-btn::after {
  content: '';
  display: block;
  width: 30px;
  height: .2em;
  background: #000;
  position: absolute;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.toggle-btn::before {
  top: -10px;
}

.toggle-btn::after {
  top: 10px;
}

@media (max-width: 768px) {
  label {
    display: block;
    z-index: 11;
  }
  .menu {
    background: #fed136;
    position: fixed;
    width: 100%;
    right: 0;
    height: 100vh;
    top: -150%;
    -webkit-transition: top .5s;
    transition: top .5s;
  }
  .menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  .menu-list a {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    font-weight: 400;
    font-size: 1.5rem;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  .menu-list a:hover {
    color: #222222;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .menu-item {
    margin-left: 0;
    padding: 3em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.services {
  text-align: center;
}

.services-list {
  padding-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 425px) {
  .services-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .services-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.services-item {
  width: 33.33%;
  padding: 0 1.5rem;
}

@media (max-width: 768px) {
  .services-item {
    width: 50%;
  }
  .services-item:last-child {
    padding-top: 1rem;
  }
}

@media (max-width: 425px) {
  .services-item {
    width: 100%;
  }
}

.services-list p {
  font-family: "RobotoSlab", serif;
}

.img-border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  border: 4px solid #fed136;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  padding: 1rem;
}

.contact {
  padding: 110px 0;
  background: url("../img/mapImage.png") right bottom/auto no-repeat;
  background-color: #222;
  color: #fff;
  text-align: center;
}

@media (max-width: 768px) {
  .contact {
    background-image: none;
  }
}

form {
  margin-top: 75px;
}

form .flex-row {
  padding-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2em;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  form .flex-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

form .flex-column {
  width: 50%;
  gap: 3em;
}

form .flex-column:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

form .flex-column input,
form .flex-column textarea {
  padding: 20px;
  color: #333;
  font-size: 1rem;
  border-radius: 5px;
}

form .flex-column input::-webkit-input-placeholder,
form .flex-column textarea::-webkit-input-placeholder {
  font-size: 1rem;
  color: #bbbbbb;
  font-family: "Montserrat Bold", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

form .flex-column input:-ms-input-placeholder,
form .flex-column textarea:-ms-input-placeholder {
  font-size: 1rem;
  color: #bbbbbb;
  font-family: "Montserrat Bold", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

form .flex-column input::-ms-input-placeholder,
form .flex-column textarea::-ms-input-placeholder {
  font-size: 1rem;
  color: #bbbbbb;
  font-family: "Montserrat Bold", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

form .flex-column input::placeholder,
form .flex-column textarea::placeholder {
  font-size: 1rem;
  color: #bbbbbb;
  font-family: "Montserrat Bold", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

form .flex-column textarea {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .flex-row .flex-column {
    width: 100%;
  }
}

.contact-btn {
  border-radius: .3em;
  display: inline-block;
  text-align: center;
  margin-top: 30px;
  padding: 20px 40px;
  border: none;
  background: #fed136;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  -webkit-transition: background .3s;
  transition: background .3s;
}

.contact-btn:hover {
  background: orange;
}
